@use "./variables" as *;
@use "./fonts" as *;

@mixin tablet {
  @media (min-width: $breakpoint-tablet) {
    @content; //let's you use additional styles when invoked
  }
}

@mixin desktop {
  @media (min-width: $breakpoint-desktop) {
    @content;
  }
}

@mixin font($font, $weight, $size, $height, $color) {
  font-family: $font;
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}

@mixin flex($flex-direction, $justify-content, $align-items) {
  display: flex;
  flex-direction: $flex-direction;
  justify-content: $justify-content;
  align-items: $align-items;
}

// @mixin flex($justify, $align) {
//   display: flex;
//   justify-content: $justify;
//   align-items: $align;
// }
