$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

$primary: #323232; //black
$primary2: #afafaf; //silver
$primary3: #ffffff; //white
$secondary: #000000; //DARK black
$secondary2: #e1e1e1; // Mercury
$secondary3: #fafafa; //Alabaster